/* intro styles */
.intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.intro p {
  font-size: 1rem;
  line-height: 1.5;
}
.name {
  font-family: var(--mono);
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}
.intro h2 {
  font-size: 4rem;
  font-weight: normal;
}