/* footer section */
footer {
  text-align: center;
  padding: 1rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
}

@media (min-width: 850px) {
nav {
  max-width: 1200px;
  margin: 0 auto;
}
nav li:first-child {
  flex-basis: auto;
  text-align: left;
  margin-right: auto;
}
}
