*{
  box-sizing: border-box;
}

body{
  font-family: arial;
  margin: 0;
}

.header{
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
}

.logo{
  border: 1px solid white;
  /* max-width: 100%; */
  height: auto;
  width: 45%;
}

.navbar{
  border: 1px solid white;
  display: flex;
  background-color: black;
  padding: 30px;
}

.nav-link{
  padding: 10px;
  margin-right: 10px;
  background-color: black;
  border-radius: 2px;
  border: none;
  color: lightcyan;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.nav-link:hover{
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(145, 50, 50, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px){
  .navbar{
    flex-direction: 10px;
  }
}
  
.main-body{
  border: 1px solid white;
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
}

.body-left{
  border: 1px solid white;
  flex: 30%;
  background-color: black;
  padding: 200px;
}

.body-right{
  border: 1px solid white;
  flex: 70%;
  background-color: black;
  padding: 200px;
}

.footer{
  border: 1px solid white;
  padding: 50px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
}