*{
  box-sizing: border-box;
}

body{
  font-family: arial;
  margin: 0;
}

.header{
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
}

.navbar{
  display: flex;
  background-color: antiquewhite;
}

.nav-link:hover{
  background-color: #f1f1f1;
  color: black;
}

@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px){
  .navbar{
    flex-direction: 10px;
  }
}
  
